.CreateTodoContainer {
  background-color: var(--rose-primary);
  box-shadow: 0px 0px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;
}

.CreateTodoContainer > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 50px;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #fafafa;

  height: 64px;
  width: 64px;

  transform: rotate(0);
  transition: 0.5s ease;
}

.CreateTodoContainer > button:hover {
  transform: rotate(360deg);
}

.ButtonModalOpen {
  transform: rotate(45deg);
  transition: 0.5s ease;
}
